.env
.env.*
!.env.example

database/*.db
database/*.sqlite
database/*.sqlite3
database/*.db-journal
database/*.wal
database/*.shm

logs/
*.log

.venv/
venv/

__pycache__/

node_modules/

dist/
build/

.pytest_cache/
coverage/
